p
{
	font-family: 'Open Sans', sans-serif;
}

h1
{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

button
{
	font-family: 'Open Sans', sans-serif;
}

#main
{
	height:385px;
	width:610px;
	overflow:auto;
}

#centeredDiv
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%
}